@model IEnumerable<WebMDW.Models.ApplicationUser>

<h2>Все пользователи</h2>

<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Проект</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Roles.Select(a => a.UserId == user.Id).Aggregate((i,j) => i)</td>
                    <td>Project</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
  </div>
