@{ 
    Layout = null;
}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>

<body>

    <div class="main">
        <img src="~/Content/ww.png">
        <h1>Добро Пожаловать в ManagerDW</h1>
        <p class="text-desc">Отслеживайте всю необходимую информацию о разработке Вашего проекта!</p>
        <a href="~/Account/Login" class="btn">Авторизоваться в системе</a>
    </div>

</body>
</html>